# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
 a1 = ['durga','saraswathi','gayatri','lakshmi','kalika']

In [16]:
pd.Series(a1,index = list(range(1,6)))

1         durga
2    saraswathi
3       gayatri
4       lakshmi
5        kalika
dtype: object

In [17]:
a2 = list(range(5,21))

In [18]:
pd.Series(a2)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
11    16
12    17
13    18
14    19
15    20
dtype: int64

In [29]:
val = np.random.random_sample(10)

In [30]:
pd.Series(val)

0    0.940307
1    0.124899
2    0.467031
3    0.136553
4    0.102201
5    0.523100
6    0.804592
7    0.805886
8    0.036275
9    0.371543
dtype: float64

# Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [42]:
s = [10,30,40,1,3,6,14,18,23]

In [43]:
n = len(s)

In [44]:
n

9

In [47]:
s1 = pd.Series(s,list(range(100,100+n)))
s1

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [49]:
#attributes:
s1.memory_usage()

144

In [51]:
s1.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [52]:
s1.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [53]:
s1.head()

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [54]:
s1.tail(4)

105     6
106    14
107    18
108    23
dtype: int64

In [55]:
s1.dtype

dtype('int64')

# create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [56]:
salaries = np.random.randint(30000,90000,30)

In [59]:
sal = pd.Series(salaries)
sal

0     72868
1     87163
2     76571
3     38347
4     89522
5     43413
6     56922
7     71772
8     42203
9     63913
10    78585
11    45496
12    84715
13    35627
14    55105
15    89903
16    63089
17    38391
18    55543
19    49346
20    53169
21    75737
22    45406
23    61905
24    41283
25    71668
26    75831
27    36642
28    45091
29    76994
dtype: int32

In [60]:
sal.info()

<class 'pandas.core.series.Series'>
RangeIndex: 30 entries, 0 to 29
Series name: None
Non-Null Count  Dtype
--------------  -----
30 non-null     int32
dtypes: int32(1)
memory usage: 248.0 bytes

In [61]:
sal.describe()

count       30.000000
mean     60740.666667
std      17469.705868
min      35627.000000
25%      45169.750000
50%      59413.500000
75%      75807.500000
max      89903.000000
dtype: float64

In [62]:
sal.max()

89903

In [63]:
sal.min()

35627

In [64]:
sal.mean()

60740.666666666664

In [66]:
sal.median()

59413.5

In [67]:
sal.mode()

0     35627
1     36642
2     38347
3     38391
4     41283
5     42203
6     43413
7     45091
8     45406
9     45496
10    49346
11    53169
12    55105
13    55543
14    56922
15    61905
16    63089
17    63913
18    71668
19    71772
20    72868
21    75737
22    75831
23    76571
24    76994
25    78585
26    84715
27    87163
28    89522
29    89903
dtype: int32

In [68]:
sal.var()

305190623.12643677

In [69]:
sal.std()

17469.705868343543

In [70]:
sal.quantile(0.25)

45169.75

In [71]:
sal.quantile(0.5)

59413.5

In [74]:
sal.quantile(0.75)

75807.5

In [75]:
sal.memory_usage()

248

In [77]:
sal.size

30

In [79]:
sal.dtype

dtype('int32')

# What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

In [ ]:
# both are open source and may also holds the same results for some statistical measurements like mean and same for attributes:

In [94]:
a1 = np.array([1,2,3,4,5])
a1

array([1, 2, 3, 4, 5])

In [95]:
a2 = pd.Series([1,2,3,4,5])

In [96]:
a2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [97]:
a1.ndim

1

In [98]:
a2.ndim

1

In [99]:
a1.size

5

In [100]:
a2.size

5

In [101]:
a1.mean()

3.0

In [102]:
a2.mean()

3.0

In [104]:
a1.var()

2.0

In [105]:
a2.var()

2.5

In [ ]:
#Differences :numpy doesnt obey indexing while representation as shown in the below while pandas represents through the indexing
# it also gives different results in some statistical measurements ,size ,dtypes etc... with the same data...
#below are some differences :

In [106]:
a1

array([1, 2, 3, 4, 5])

In [107]:
a2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [109]:
a1.var()

2.0

In [110]:
a2.var()

2.5

In [111]:
a2.median()

3.0

In [112]:
a1.median()

AttributeError: 'numpy.ndarray' object has no attribute 'median'

In [113]:
a1.mode()

AttributeError: 'numpy.ndarray' object has no attribute 'mode'

In [114]:
a2.mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64

# create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [115]:
pand = pd.Series(range(100,151))

In [116]:
pand

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
50    150
dtype: int64

In [117]:
# indexing:
pand[1]

101

In [119]:
pand[8]

108

In [120]:
#slicing:
pand[0:5:1]

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [126]:
pand[::]

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
50    150
dtype: int64