
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

# Create a lambda function that takes two arguments and returns their sum.
# Create another lambda function that takes a single argument and returns its square.
# Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [2]:
a = lambda *n: sum(n)
a(6,8)

14

In [3]:
b = lambda n: n*n
b(25)

625

In [5]:
c = lambda *n:sum(n)
d = lambda  n:n*n

In [6]:
print(c(8,5,10,9))
print(d(16))

32
256

# Define a list of integers.
# Use the filter function to create a new list that contains only the even numbers from the original list.
# Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
# Print both filtered lists.

In [2]:
def l1(n):
    if n%2 == 0:
        return(n)
list1 = [5,6,2,0,7,3,8]
a = list(filter(l1,list1))
a

[6, 2, 8]

In [13]:
def l2(n):
    if n > 10 :
        return(n)
list2 = [51,88,9,20,5,1,65,12]
b = list(filter(l2,list2))
b

[51, 88, 20, 65, 12]

# Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
# Use the map function to convert each string to an integer and store the result in a new list.
# Use the map function again to square each integer in the new list and store the result in another new list.
# Print both new lists.

In [15]:
def string(n):
    if list1[0] ==int(n):
        return n
list1 = ["1","2","3","4"] 
new_list = list(map(int,list1))
new_list

[1, 2, 3, 4]

In [5]:
def a(n):
    return n*n
new_list = [1,2,3,4]
list2 = list(map(a,new_list))
list2

[1, 4, 9, 16]

# Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example:  [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
Use the filter function to create a new list that contains only the people who are older than 25.
Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.

In [11]:
def d(n):
    if n["age"] > 25:
        print(n)
l1=[{"name": "Alice", "age": 30}, {"name": "Bob", "age": 27}, {"name":"renu","age":19},{"name":"vishnu","age":24}] 
a = list(map(d,l1))

{'name': 'Alice', 'age': 30}
{'name': 'Bob', 'age': 27}

# Create a program that reads a list of numbers from the user (you can use the input function for this).
Use map and filter functions to perform the following operations:
Square each number.
Filter out numbers that are not divisible by 3.
Print the result.

In [6]:
l1 = []
n = int(input("enter the size of the numbers that are entered :: "))
for i in range(1,n+1):
    a=int(input("enter the number : "))
    l1.append(a)
    print(l1)
def b(n):
    return (n*n)
list1 = list(map(b,l1))

enter the size of the numbers that are entered :: 5
enter the number : 6
[6]
enter the number : 96
[6, 96]
enter the number : 23
[6, 96, 23]
enter the number : 72
[6, 96, 23, 72]
enter the number : 5
[6, 96, 23, 72, 5]

In [7]:
list1

[36, 9216, 529, 5184, 25]

In [8]:
def d(n):
    if n%3 != 0:
        print(n)
list2 = list(filter(d,l1))

23
5

# take combination of some integers,float and strimg print onlyfloat values
# prinnt only string

# replace integer value with a name is called imteger

In [9]:
def l1(n):
    if type(n) == float:
        return n

In [10]:
list3=[1,4,6,8.2,2.8,0.1,"mom","dad"]

In [11]:
list(filter(l1,list3))

[8.2, 2.8, 0.1]

In [12]:
def l2(n):
    if type(n) == str:
        return n
list3=[1,4,6,8.2,2.8,0.1,"mom","dad"]
list(filter(l2,list3))

['mom', 'dad']

In [13]:
def l3(n):
    if type (n) == int:
        return "integer"
list3=[1,4,6,8.2,2.8,0.1,"mom","dad"]  
list(map(l3,list3))

['integer', 'integer', 'integer', None, None, None, None, None]